<footer class="dark py-6 px-4">
    <div class="grid content py-3 col-2 g-6">
        
        <div class="flex col">
            <img class="nav-logo" src="/static/img/logo.png" alt="Logo">   
            <p class="small-text spaced-text grey-text caps">The Rok Group</p>
            <p>The Rok Group unifies the full spectrum of building trades under one master standard of management.</p>
            <div class="flex row g-3 py-3 small-text spaced-text">
                {% for policy in policies %}
                  
                <a href="/policy/{{policy.slug}}"> {{policy.nav_title}} </a>
                {% endfor %}
            </div>
            <span>&copy; {{ current_year }} ROK Group. All rights reserved.</span>
        </div>

    
        <div class="grid col-2 g-3">
            <div>
                <h3 class="small-text spaced-text gold-text caps">Navigate</h3>
                <ul>
                    <li class="nav-link semi-bold"><a href="/">Home</a></li>
                    <li class="nav-link semi-bold"><a href="/services">Services</a></li>
                    <li class="nav-link semi-bold"><a href="/projects">Projects</a></li>
                    <li class="nav-link semi-bold"><a href="/areas">Areas</a></li>
                    <li class="nav-link semi-bold"><a href="/contact">Contact</a></li>
                    <li class="nav-link semi-bold"><a href="/blog">Blog</a></li>
                </ul>
            </div>
            <div>
                <h3 class="small-text spaced-text gold-text caps">Contact</h3>
                <a href="mailto:info@therokgroup.co.uk">info@therokgroup.co.uk</a>
                <p>3rd Floor, 86-90 Paul Street, EC2A 4NE</p>
                <a href="tel:+1234567890">01323 409640</a>
                <div class="flex row g-3 footer-socials">
                {% for link in socials %}
                <a href="{{ link.page_uri }}" target="_blank" rel="noreferrer noopener" style="fill:#ffffff; stroke:#ffffff;">
                    {{ link.icon|safe }}
                </a>
                {% endfor %}
            </div>
            </div>
        </div>
    </div>
</footer>