<header>
    <div class="content">
        <div class="flex col">
        <a href="/">
            <img class="nav-logo" src="/static/img/logo-white.png" alt="Logo">   
        </a>
        <p class="small-text spaced-text grey-text caps">The Rok Group</p>
        </div>
        <nav class="md-hide">
            
            <ul>
                <li><a class="nav-link normal-weight {% if page and page.tag == 'Home' %}nav-link--active{% endif %}" href="/">Home</a></li>
                <li><a class="nav-link normal-weight {% if page and page.tag == 'Services' or service %}nav-link--active{% endif %}" href="/services">Services</a></li>
                <li><a class="nav-link normal-weight {% if page and page.tag == 'Projects' or project %}nav-link--active{% endif %}" href="/projects">Projects</a></li>
                {% if  service %}
                    <li><a class="nav-link normal-weight" href="/areas">Areas</a></li>
                {% else %}
                    {% if page and page.tag == 'Areas' or location or area  %}
                        <li><a class="nav-link normal-weight nav-link--active" href="/areas">Areas</a></li>
                    {% else %}
                        <li><a class="nav-link normal-weight" href="/areas">Areas</a></li>
                    {% endif %}
                {% endif %}
                <li><a class="nav-link normal-weight {% if page and page.tag == 'Contact' %}nav-link--active{% endif %}" href="/contact">Contact</a></li>
            </ul>
        </nav>
        <nav class="md-hide "> 
           
            <ul>
                <li >
                    
                    <a class="nav-link normal-weight" href="tel:+1234567890">
                        
                        01323 409640
                    </a>
                        
                </li>
            </ul>
            <button class="nav-button cta primary">GET CONSULTATION</button>
        </nav>

        <nav class="md-show lg-hide">
            <button 
                id="mobile-nav-toggle" 
                class="nav-button cta secondary"
                aria-expanded="false" 
                aria-controls="mobile-nav" 
                aria-label="Open main menu"
                >
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu" style="width: 24px; height: 24px;">
                    <line x1="3" y1="12" x2="21" y2="12"></line>
                    <line x1="3" y1="6" x2="21" y2="6"></line>
                    <line x1="3" y1="18" x2="21" y2="18"></line>
                </svg>
            </button>
        </nav>
    </div>
    
    <div id="mobile-nav" class="mobile-menu lg-hide md-show hide" aria-label="Main Navigation" hidden>
        <ul class="p-3">
            <li><a class="nav-link normal-weight {% if page and page.tag == 'Home' %}nav-link--active{% endif %}" href="/">Home</a></li>
            <li><a class="nav-link normal-weight {% if page and page.tag == 'Services' or service %}nav-link--active{% endif %}" href="/services">Services</a></li>
            <li><a class="nav-link normal-weight {% if page and page.tag == 'Projects' or project %}nav-link--active{% endif %}" href="/projects">Projects</a></li>
            {% if  service %}
                <li><a class="nav-link normal-weight" href="/areas">Areas</a></li>
            {% else %}
                {% if page and page.tag == 'Areas' or location or area  %}
                    <li><a class="nav-link normal-weight nav-link--active" href="/areas">Areas</a></li>
                {% endif %}
            {% endif %}
            <li><a class="nav-link normal-weight {% if page and page.tag == 'Contact' %}nav-link--active{% endif %}" href="/contact">Contact</a></li>
        </ul>
        <div class="grid g-3 p-3">
            
                <a class="cta secondary full-width" href="tel:+1234567890">
                    01323 409640
                </a>
            

                <a class="cta primary" href="/contact">GET CONSULTATION</a>
                
        
        </div>
    </div>
</header>