
{% extends 'base.html' %}
{% block hero %}
    <section class="hero short">
        <div class="slider light">
            <img alt="The Rok Group Van" title="A Van bearing the ROK Group logo." src="/static/img/slider/service-placeholder.jpg"/>
        </div>
        <div class="hero__body content grid center-y g-3 full-height col-2 pt-4">
            <div>
                <h1 class="display x-large-text">{{ page.title }}</h1>
                <p class=" my-6 sm-my-3">
                  {{ page.subtitle }}
                </p>
            </div>

        </div>
    </section>
    {% endblock hero %}
    {% block main %}

    <section class="pale pb-6 pt-6">
        
        <div class="grid content col-3 md-col-2 py-4 mt-3 g-4 ">
            {% for service in services %}
            
            <div>
                <div class="icon-block">
                    <img
                        src="/static/svg/tools.svg"
                        alt="triangle with all three sides equal"
                        height="30"
                        width="30" />
                </div>
                    <h1 class="mt-4 display semilarge-text mb-3">{{ service.title }}</h1>
                    <p class="pb-4">{{ service.short_desc }}</p>
                    <div class="flex full-width">

                        <a href="/services/{{service.slug}}" class="cta secondary pt-3 white-text">MORE INFO</a>
                    </div>
                    
                </div>
            
                {% endfor %}
            </div>
    </section>
    
    <section class="dark">
        <div class="grid content col-2--right md-collapse g-6 py-6">
        <div>
                    <h3 class="small-text spaced-text gold-text semi-bold caps">Why this matters</h3>
            <h2 class="display white-text medium-text">The right contractor experience should feel organised, not opaque.</h2>
            <p class="white-text my-6">
                    Better service pages should reassure clients that the project will be understood properly,
                    structured clearly and delivered with care. That means setting expectations early and keeping
                    quality visible throughout the job.
            </p>
        </div>
        <div>

            <div class="grid col-3 g-3">
                {% for item in why_this_matters.items  %}
                  
                <div class="card clear p-3 shadow-4">
                    <h3 class="small-text spaced-text caps gold-text py-2">
                       {{ item.text}}
                    </h3>
                    <p>{{item.subtext}}</p>
                </div>
                {% endfor %}
                
               
            </div>
        </div>
    </div>
    </section>
    {% endblock main %}
